h2 {
    display: flex;
    margin-top: 3.5em;
    justify-content: center;
}


h1 {
    display: flex;
    justify-content: center;
}

.counter {
    margin-top: -0.2em;
}

.wrapper-button {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.plus {
    opacity: 90%;
    transition: 300ms;
    width: 6em;
    height: 3em;
    border: 2px solid #1EBCBE;
    border-radius: 10px;
    margin-left: 15px;
}

.plus:hover {
    color: #fff;
    background: #8A8584;
}

.minus {
    opacity: 90%;
    transition: 300ms;
    width: 6em;
    height: 3em;
    border: 2px solid #1EBCBE;
    border-radius: 10px;
}

.minus:hover {
    color: #fff;
    background: #8A8584;
}

